*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Poppins', sans-serif;
    background:#f4f8f5;
}

.start-page{
    min-height:100vh;
    display:grid;
    grid-template-columns:1.4fr 0.9fr;
}
.left-side{
    position:relative;
    background:
        linear-gradient(rgba(32,66,50,0.30), rgba(32,66,50,0.30)),
        url("../images/plants/ficus-benjamina-close.jpeg");

    background-size:100%;
    background-position:center;
    display:flex;
    align-items:center;
    justify-content:center;
    color:white;
   color:white;
}

.brand-content{
    position:relative;
    z-index:2;
    text-align:center;
    max-width:650px;
    padding:30px;
}

.logo{
    font-size:48px;
    font-weight:800;
    margin-bottom:20px;
}

.brand-content h1{
    font-size:33px;
    font-weight:800;
    margin-bottom:16px;
}

.brand-content p{
    font-size:18px;
    line-height:1.8;
    color:#edf7f1;
}

.right-side{
    background:#f8fbf8;
    display:flex;
    align-items:center;
    justify-content:center;
    padding:40px;
}

.login-panel{
    width:100%;
    max-width:420px;
    text-align:center;
}

.small-logo{
    font-size:42px;
    margin-bottom:12px;
}

.login-panel h2{
    color:#1e3a2f;
    font-size:30px;
    font-weight:800;
    margin-bottom:8px;
}

.subtitle{
    color:#6b8f7a;
    font-size:15px;
    margin-bottom:32px;
}

.options{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:16px;
    margin-bottom:22px;
}

.option-card{
    background:#2f5e4a;
    color:white;
    text-decoration:none;
    height:150px;
    border-radius:18px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    gap:14px;
    font-weight:700;
    transition:0.25s;
    box-shadow:0 10px 25px rgba(47,94,74,0.18);
}

.option-card i{
    font-size:34px;
}

.option-card:hover{
    background:#1e3a2f;
    transform:translateY(-5px);
}

.create-link{
    display:inline-block;
    margin-top:8px;
    color:#2f5e4a;
    font-weight:600;
    text-decoration:none;
}

.create-link:hover{
    text-decoration:underline;
}

@media(max-width:850px){
    .start-page{
        grid-template-columns:1fr;
    }

    .left-side{
        min-height:360px;
    }

    .brand-content h1{
        font-size:34px;
    }

    .logo{
        font-size:38px;
    }
}

@media(max-width:500px){
    .options{
        grid-template-columns:1fr;
    }
}
.guest-link{
    display:block;
    width:100%;
    text-align:center;
    padding:14px;
    margin-top:18px;
    border:2px solid #2f5e4a;
    border-radius:14px;
    color:#2f5e4a;
    background:#ffffff;
    text-decoration:none;
    font-weight:700;
    transition:0.25s;
}

.guest-link:hover{
    background:#eef7f1;
    transform:translateY(-2px);
}